.tool {
    position: relative;
    display: inline-block;

    .tooltiptext {
        visibility: hidden;
        background-color: #fff;
        color: grey;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        width: 200px;
        bottom: 100%;
        left: 65%;
        margin-left: -100px;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;

        &:after {
            content: " ";
            position: absolute;
            top: 100%; /* At the bottom of the tooltip */
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
          }
      }
     /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
   
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tool:hover .tooltiptext {
    visibility: visible;
  }